{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
            <div id="chat" class="col-12 card mt-5">
                <img class="card-img-top" src="{{ asset('images/logo.svg') }}" id="logo" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Drinky Bot</h4>
                    <p class="card-text">
                        <div id="chatMessages">
                            {% for chatMessage in chatMessages %}
                                <div class="alert alert-primary">
                                    <p>{{ chatMessage }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </p>
                </div>
                <div class="card-footer">
                    <form class="form-inline d-flex justify-content-around ">
                        <div class="form-group">
                            <button class="form-control">Oui</button>
                            <button class="form-control">Non</button>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/index.js') }}"></script>
{% endblock %}
